@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 130px;
}

:root {
  /* color  */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;
  /* background  */
  --backgroundPrimary: #0061df;
  /* padding  */
  --padding: 0 130px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #0d263b;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02rem;
}

.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0d263b;
  line-height: 24px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-carousel .slick-dots-bottom {
  bottom: 30px;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* Text / Color */
  color: #696969;
}

.icon-style {
  width: 40px;
  height: 40px;
  background-color: #f6f8f9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
}

.icon-style-2 {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
  fill: white;
}

.icon-style:hover {
  background-color: #dee1e3;
}

.icon-style:active {
  transform: scale(0.9);
}

.inline {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.info-card {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #696969;
}
